:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --text-input-field: #F7F7F7;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
p{
    font-size: 1.6rem;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center; /* con esto podemos centrar el contenido usando grid*/
}
.reset-passsword{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.login-view{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.account-create-view{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

/*al darme problemas no poder posicionar el title tuve que cambiar este contenedor que es el problema principal*/
.account-create-view .form-container{
    display: grid;
    justify-items: start;
    grid-template-rows: auto 1fr auto; /*le da el tamanio a cada parte*/
    width: 350px;
}

.form-container{
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto; /*le da el tamanio a cada parte*/
    width: 350px;
   
}



.logo{
    width: 210px;   /*un tamanio para que se vea mas grande*/
    margin-bottom: 50px;    /*margen de abajo*/
    justify-self: center;   /*centra en el grid*/
    display: none; /*lo que hace es que no aparezca en pantalla*/
}
.email-image{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 132px;
    height: 132px;
    margin-bottom: 35px;
    border-radius: 50%;
    
    background-color: var(--text-input-field);
}
.email-image img{
    width: 80px;
}


.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    align-self: center;
}
.account-create-view .title{
    margin-bottom: 45px;
    margin-top: 10px;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.resent{
    font-size: var(--sm);
    font-weight: 300;
    margin-top: 28px;
}
.resent span{
    color: var(--dark);
    font-weight: 400;
}
.resent a{
    color: var(--hospital-green);
    text-decoration: none;
}
.form a{
    font-size: var(--sm);
    color: var(--hospital-green);
    text-decoration: none;

    text-align: center;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form div{
    display: flex;
    flex-direction: column;
}
.account-create-view .form{
    justify-content: center;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 42px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-email{
    margin-bottom: 22px;
}
.input-password{
    margin-bottom: 40px;
}
.input-name{
    margin-bottom: 22px;
}

.primary-button{
    width: 100%;
    height: 60px;

    font-size: var(--lg);
    font-weight: bold;
    border-radius: 8px;
    border: none;

    background-color: var(--hospital-green);
    color: var(--white);   
    
    cursor: pointer;
}
.secondary-button{
    width: 100%;
    height: 60px;
    
    font-size: var(--lg);
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    
    background-color: var(--white);
    color: var(--hospital-green);
    font-weight: 500;
}
.reset-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.login-button{
    margin-bottom: 30px;
}
.singup-button{
    margin-top: 60px;
}
.create-button{
    margin-bottom: 25px;
}
@media(max-width: 640px){
    .logo{
        display: block;
    }
    .singup-button{
        width: 350px;
        position: absolute;
        bottom: 0;
        margin-top: 0px;
        margin-bottom: 25px;

    }

        /*Esto lo que permite llegue al breakpoint centra el contenido en la pantalla y lleva el boton mas cerca de los demas inputs*/
    .account-create-view .form-container{
        height: 100%;
    }
    .account-create-view .form{
        justify-content: space-between;
    }
}

