:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --text-input-field: #F7F7F7;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
p{
    font-size: 1.6rem;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center; /* con esto podemos centrar el contenido usando grid*/
}
.reset-passsword{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.login-view{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.account-create-view{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.account-edit-view{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.account-save-view{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

/*al darme problemas no poder posicionar el title tuve que cambiar este contenedor que es el problema principal*/
.account-create-view .form-container{
    display: grid;
    justify-items: start;
    grid-template-rows: auto 1fr auto; /*le da el tamanio a cada parte*/
    width: 350px;
}
.account-edit-view .form-container{
    display: grid;
    justify-items: start;
    grid-template-rows: auto 1fr auto; /*le da el tamanio a cada parte*/
    width: 350px;
}
.account-save-view .form-container{
    display: grid;
    justify-items: start;
    grid-template-rows: auto 1fr auto; /*le da el tamanio a cada parte*/
    width: 350px;
}

.form-container{
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto; /*le da el tamanio a cada parte*/
    width: 350px;
   
}



.logo{
    width: 210px;   /*un tamanio para que se vea mas grande*/
    margin-bottom: 50px;    /*margen de abajo*/
    justify-self: center;   /*centra en el grid*/
    display: none; /*lo que hace es que no aparezca en pantalla*/
}
.email-image{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 132px;
    height: 132px;
    margin-bottom: 35px;
    border-radius: 50%;
    
    background-color: var(--text-input-field);
}
.email-image img{
    width: 80px;
}


.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    align-self: center;
}
.account-create-view .title{
    margin-bottom: 45px;
    margin-top: 10px;
}
.account-edit-view .title{
    margin-bottom: 45px;
    margin-top: 10px;
}
.account-save-view .title{
    margin-bottom: 40px;
    margin-top: 10px;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.resent{
    font-size: var(--sm);
    font-weight: 300;
    margin-top: 28px;
}
.resent span{
    color: var(--dark);
    font-weight: 400;
}
.resent a{
    color: var(--hospital-green);
    text-decoration: none;
}
.form a{
    font-size: var(--sm);
    color: var(--hospital-green);
    text-decoration: none;

    text-align: center;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form div{
    display: flex;
    flex-direction: column;
}
.account-create-view .form{
    justify-content: center;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 42px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-email{
    margin-bottom: 22px;
}
.input-password{
    margin-bottom: 40px;
}
.input-name{
    margin-bottom: 22px;
}
.value{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 30px;
}

.primary-button{
    width: 100%;
    height: 60px;

    font-size: var(--lg);
    font-weight: bold;
    border-radius: 8px;
    border: none;

    background-color: var(--hospital-green);
    color: var(--white);   
    
    cursor: pointer;
}
.secondary-button{
    width: 100%;
    height: 60px;
    
    font-size: var(--lg);
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    
    background-color: var(--white);
    color: var(--hospital-green);
    font-weight: 500;
}
.reset-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.login-button{
    margin-bottom: 30px;
}
.singup-button{
    margin-top: 60px;
}
.create-button{
    margin-bottom: 25px;
}
.edit-button{
    margin-bottom: 25px;
}


@media(max-width: 640px){
    .logo{
        display: block;
    }
    .singup-button{
        width: 350px;
        position: absolute;
        bottom: 0;
        margin-top: 0px;
        margin-bottom: 25px;

    }

        /*Esto lo que permite llegue al breakpoint centra el contenido en la pantalla y lleva el boton mas cerca de los demas inputs*/
    .account-create-view .form-container{
        height: 100%;
    }
    .account-create-view .form{
        justify-content: space-between;
    }

    .account-edit-view .form-container{
        height: 100%;
    }
    .account-edit-view .form{
        justify-content: space-between;
    }

    .account-save-view .form-container{
        height: 100%;
    }
    .account-save-view .form{
        justify-content: space-between;
    }
}

/*Con esta parte empezamos a estilzar la grid de cartas para el carrito*/
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 240px;
}
.product-card  img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);

    margin-bottom: 4px;
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--very-light-pink);
}

.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}

@media (max-width: 640px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,140px);
        gap: 26px;
    }

    .product-card{
        width: 140px;
    }

    .product-card  img{
        width: 140px;
        height: 140px;
    }
}
/*----------------------------------------------------------------*/

/*Con esta parte empezamos a estilzar el menu desktop*/
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);

}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}

/*----------------------------------------------------------------*/

/*Con esta parte empezamos a estilzar el menu mobile*/
.mobile-menu{
    padding: 24px;
    height: 100vh;
}


.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.mobile-menu ul li a{
    
    color: var(--black);
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out{
    color: var(--hospital-green);
    font-size: var(--sm);
}

/*el ultimo ul. sus li tiene un margen bot*/
.mobile-menu ul:nth-child(3) li{
    margin-bottom: 5px;
}

/*el primer ul tiene un border abajo solido*/
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

/*el ultimo ul empuja al de arriba 200px*/
.mobile-menu ul:nth-child(3){
    margin-top: 200px;
}
/*----------------------------------------------------------------*/

/*Aca vamos a estilizar las ordenes*/
.my-order{
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;
}

.my-order .my-order-container .title{
    margin-bottom: 40px;
}

.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-content{
    display: flex;
    flex-direction: column;
}
.order{
    height: 70px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    
    background-color: var(--text-input-field);
    
    gap: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.shooping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shooping-cart figure{
    margin: 0;
}
.shooping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shooping-cart p:nth-child(2){
    color: var(--very-light-pink);
}
.shooping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
/*----------------------------------------------------------------*/

/*Aca vamos a estilizar mis ordenes*/
.my-orders {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .title {
    font-size: var(--lg);
    margin-bottom: 40px;
  }
  .my-orders-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  .my-orders-content {
    display: flex;
    flex-direction: column;
  }
  .orders {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
  }
  .orders p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .orders p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .orders p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
  }
  .orders p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
/*----------------------------------------------------------------*/

/*Estilizacion para el navbar*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu{
    display: none;
}
.logonav{
    width: 100px;
}

.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-shooping-cart{
    position: relative;
    
}
.navbar-shooping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
}
/*----------------------------------------------------------------*/

/*Estilizamos el detalle del producto*/
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail{
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
}
.product-detail-close{
    background-color: var(--white);
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.product-detail-close:hover{
    cursor: pointer;
}
.product-detail > img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-info-detail{
    margin: 24px 24px 0 24px;
}
.product-info-detail p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info-detail p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}
.product-info-detail p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}
.dots {
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    display: inline-block;
}
.dots span:nth-child(1) {
    background-color: var(--hospital-green);
}
@media (max-width: 640px) {
    .product-detail{
        width: 100%;
    }
}
/*----------------------------------------------------------------*/

/*Estilizando el shooping cart*/

.shooping-cart-detail{
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.title-container {
    display: flex;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.shooping-cart-title {
   font-size: var(--lg);
   font-weight: bold;
}

.shooping-cart-order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.shooping-cart-order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.shooping-cart-order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.shooping-cart-order p:nth-child(2) {
   text-align: end;
   font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
.primary-button-shooping-cart{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
@media (max-width: 640px) {
    .shooping-cart-detail {
      width: 100%;
    }
}
/*----------------------------------------------------------------*/